* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

.full-page {
  height: 100vh;
  background: url("pics6.jpg") center/cover no-repeat;
  position: relative;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  width: 100%;
  padding-right: 50px;
  top: 20px;
  left: 0;
  position: fixed;
  z-index: 10;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 50px;
  padding: 0;
}
.navbar a {
  position: relative;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 5px 0;
}
.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #2b1500;
  transition: width 0.3s ease;
}
.navbar a:hover::after {
  width: 100%;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  transition: color 0.3s;
}
.navbar ul li a:hover {
  color: #2b1500;
}
.logo {
  color: white;
  text-align: right;
  position: absolute;
  top: 220px;
  right: 100px;
}
.logo h4 {
  font-size: 65px;
  letter-spacing: 2px;
  padding-right: 80px;
  text-transform: uppercase;
}

.logo h1 {
  font-size: 100px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.bottom-bar {
  background-color: #a8794e;
  height: 380px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.upper-bar {
  background-color: #a8794e;
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.par-box {
  position: absolute;
  margin-top: 30px;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.par-box ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 48px;
}
.par-box ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  transition: color 0.3s;
}
.par-box ul li a:hover {
  color: orangered;
  cursor: pointer;
}
.brew-coffee,
.bean-zone,
.don-macchiatos,
.cafe-sa-bukid,
.pickup-coffee {
  text-align: center;
  width: 250px;
  height: 40px;
  font-size: large;
  color: white;
  background-color: #2b1500c4;
  padding-top: 10px;
  border-radius: 20px;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}
.brew-coffee:hover,
.bean-zone:hover,
.don-macchiatos:hover,
.cafe-sa-bukid:hover,
.pickup-coffee:hover {
  background-color: #2b1500;
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
.welcome {
  text-align: center;
  font-size: 20px;
  color: white;
}
.logo-cafe {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 35px;
  align-items: center;
  gap: 10px;
}
.logo-cafe img {
  width: 230px;
  height: 230px;
  border-radius: 10px;
}
.logo-image-sa-taas {
  position: fixed;
  top: 15px;
  left: 30px;
  z-index: 20;
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 50%;
}