* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

.full-page {
  height: 100vh;
  background: url("pics6.jpg") center/cover no-repeat;
  position: relative;
}
.tagline {
  width: 550px;
  position: absolute;
  height: auto;
  margin-top: 390px;
  right:120px;
  color: #e29b59;
}
.tagline p {
  font-size: 27px;
  font-weight: bold;
}
.logo {
  color: white;
  text-align: right;
  position: absolute;
  top: 220px;
  right: 100px;
}

.logo h4 {
  font-size: 65px;
  letter-spacing: 2px;
  padding-right: 80px;
  text-transform: uppercase;
}

.logo h1 {
  font-size: 100px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.navbar {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  height: 60px;
  width: 100%;
  padding-right: 50px;
  top: 20px;
  left: 0;
  position: fixed; 
  z-index: 10;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 50px;
  padding: 0;
}

.navbar a {
  position: relative;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 5px 0;
}
.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #2b1500;
  transition: width 0.3s ease;
}
.navbar a:hover::after {
  width: 100%;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  transition: color 0.3s;
}
.navbar ul li a:hover {
  color: #2b1500;
}
p {
  align-items: center;
  text-align: center;
  padding-top: 30px;
  font-size: 25px;
}
.bottom-bar {
  background-color: #a8794e; 
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.upper-bar {
  background-color: #a8794e;
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.logo-image-sa-taas {
  position: fixed;
  top: 15px;
  left: 30px;
  z-index: 20;
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 50%;
}
