* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

.full-page {
  height: 100vh;
  background: url("pics6.jpg") center/cover no-repeat;
  position: relative;
}
.logo {
  color: white;
  text-align: right;
  position: absolute;
  top: 290px;
  right: 100px;
}

.logo h4 {
  font-size: 65px;
  letter-spacing: 2px;
  padding-right: 80px;
  text-transform: uppercase;
}

.logo h1 {
  font-size: 100px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.bottom-bar {
  background-color: #a8794e; /* same color as top */
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.upper-bar {
  background-color: #a8794e; /* same color as top */
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.form {
  display: flex;
  align-items: center;
  height: calc(100vh - 150px); /* leave space for navbar */
  margin-left: 280px;
  margin-top: 75px;
  position: absolute;
}
.form-box {
  width: 450px;
  height: 490px;
  padding: 20px;
  background: #2b1500bd;
  border-radius: 15px;
  text-align: center;
}
.wordlogin {
  color: white;
  font-size: 30px;
  margin-bottom: 35px;
  margin-top: 30px; 
}
.input-group-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.input-group-login input {
  width: 350px;
  height: 40px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background: none;
  outline: auto;
  color: white;
  font-weight: bold;
}
.submit-btn {
  color: black;
  border: none;
  background-color: #a8794e;
  border-radius: 15px;
  font-size: large;
  font-weight: bold;
  width: 250px;
  height: 35px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 0;
}
.submit-btn:hover {
  background-color: white;
  color: black;
}
.sign-up {
  color: white
}
.login-btn {
  text-decoration: none;
  color: orange;
  cursor: pointer;
}
.login-btn:hover {
  color: orangered;
}
.guest {
  position: absolute;
  top: 500px;
  right: 260px;
  background-color: #a8794e; /* rich coffee brown */
  color: black;
  border: none;
  padding: 14px 30px;
  font-size: 24px;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s ease;
  font-weight: bold;
}
.guest:hover {
  background-color: white; /* lighter brown on hover */
}
.logo-image-sa-taas {
  position: fixed;
  top: 15px;
  left: 30px;
  z-index: 20;
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 50%;
}